### Use ```pandas``` for loading the dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('taxi_zone_lookup.csv')
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

### Create an engine for postgres

In [7]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

### Inspect possible schema for the dataframe

In [5]:
print(pd.io.sql.get_schema(df, name="taxi_zone_lookup"))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

### Generate postgreSql specific schema using engine

In [9]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

### Create a table in the database

In [11]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

### Ingest the dataset into the table

In [12]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265